<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/styles.css">
	<meta charset="UTF-8">
	<title>{{title}}</title>
</head>
<body>
	<div class="main-content link">
		{{>header}}
		<p>Ce site à été développé par Armel Zéli.</p>
		<p> Il utilise des données de <a href="http://www.mapbox.com">géolocalisation</a> et de <a href="http://www.darksky.net" >météorologie</a> en temps réel </p>
		<img class="portrait" src="img/me.png">
	</div>

	{{>footer}}
</body>
</html>