<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/styles.css">
	<meta charset="UTF-8">
	<title>{{title}}</title>
</head>
<body>
	<div class="main-content">
		{{>header}}
		<img class="portrait" src="img/me.png">
		<p>Hello, moi c'est Armel 28 ans, je suis passionné par le développement web !</p>
	</div>

	{{>footer}}
</body>
</html>